
 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Data Tables</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     
     <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
     <script
   src="http://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
 </head>
 <body  style=" zoom: 90%;" class="bg-green-500">
 <!-- <div class="container"> -->
    <!-- <button id="tbtn" onclick="ShowTeams()">Teams</button>
    <button id="plbtn" onclick="ShowPlayers()">Players</button> -->
   
     <section class=" antialiased items-center bg-green-500 text-gray-600 pb-6 pt-6 px-4">
        <div class="flex flex-row  justify-center ">
            <!-- Table -->
            <div style="display: block;" id="teamTable" class="w-full overflow-y-auto max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
                <!-- <header class="px-5 py-4 border-b border-gray-100">
                    <h2 class="font-semibold text-gray-800">Final RankList</h2>
                </header> -->
                <div class="p-3">
                    <div style="height: 20vh;" class="">
                        <table style="height: 20vh;" class="table-auto w-full " id="myTable">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                <tr>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Rank</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Team</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Placement</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Finish</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Total</div>
                                  
                                </tr>
                            </thead>
                            <tbody class="text-sm divide-y divide-gray-100">
                                <%for(i of teamleaderboards){%>
                                <tr>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-left">1</div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="flex items-center">
                                            <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full h-12 w-12  object-cover" src="<%=i.Logo%>" width="40" height="40" alt="Alex Shatov"></div>
                                            <div class="font-medium text-gray-800"><%=i.teamname%></div>
                                        </div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-left"><%=i.placement%></div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-left font-medium text-green-500"><%=i.teamFinnish%></div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-lg text-center"><%=i.teamPoint%></div>
                                    </td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>





        <!-- Players table -->



            <div id="playerTable" style="display: none;" class="h-auto w-full overflow-auto max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            
                <div class="p-3">
                    <div class="overflow-x-auto">
                        <table class="table-auto w-full" id="secTable">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                <tr>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Team</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Player</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Finish</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-sm divide-y divide-gray-100">
                                <%for(i of killsleaders){%>
                                <tr>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-left"><%=i.teamname%></div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="flex items-center">
                                            <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full h-12 w-12  object-cover" src="https://static.vecteezy.com/system/resources/thumbnails/002/534/525/small/ghost-spooky-logo-vector.jpg" width="40" height="40" alt="Alex Shatov"></div>
                                            <div class="font-medium text-gray-800"><%=i.playername%></div>
                                        </div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-left"><%=i.finnish%></div>
                                    </td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
    
        
    </section>
<!-- </div> -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
   
   
<!-- component -->



 
 <script>
     $(document).ready( function () {
     $('#myTable').DataTable();
     $('#secTable').DataTable();

 } );
//  const ShowTeams = () =>{
//     document.getElementById("teamTable").style.display = "block";
//     document.getElementById("playerTable").style.display = "none";

//  }

//  const ShowPlayers = () =>{
//     document.getElementById("teamTable").style.display = "none";
//     document.getElementById("playerTable").style.display = "block";

//  }

 document.addEventListener('keydown', function(event) {
    if(event.keyCode == 37) {
        document.getElementById("teamTable").style.display = "block";
    document.getElementById("playerTable").style.display = "none";
    }
    else if(event.keyCode == 39) {
        document.getElementById("teamTable").style.display = "none";
    document.getElementById("playerTable").style.display = "block";
    }
});
     </script>
 </body>
 </html>